<header class="sticky top-0 flex justify-center">
    <nav class="customnav rounded-full p-4 flex justify-between items-center text-white border-4 border-custom-color">
       
        <div>
            <a href="#me" class="px-4 py-2 rounded group relative inline-block">Sobre Mi
                <span class="absolute -bottom-1 left-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
            </a>
            <a href="#experiencia" class="px-4 py-2 rounded group relative inline-block">
                Experiencia
                <span class="absolute -bottom-1 left-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
            </a>
            <a href="/services" class="px-4 py-2 rounded group relative inline-block">
                Proyectos
                <span class="absolute -bottom-1 left-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
            </a>
            <a href="/contact" class="px-4 py-2 rounded group relative inline-block">
                Contacto
                <span class="absolute -bottom-1 left-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
                <span class="absolute -bottom-1 right-1/2 w-0 h-1 bg-custom-color group-hover:w-1/3 group-hover:transition-all"></span>
            </a>
        </div>
    </nav>
</header>

<style>
.customnav{
    background-color: #13151a00;
    margin-top: 2%;
    
}



</style>